@tailwind base;
@tailwind components;
@tailwind utilities;

.home-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

.about-grid {
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

.label {
  @apply uppercase font-medium bg-amber-300 px-2 py-1 rounded text-sm;
}
