@tailwind base;
@tailwind components;
@tailwind utilities;

.default-grid {
  @apply grid min-h-screen;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

.not-found-grid {
  @apply grid min-h-screen;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

.default-grid {
  @apply grid min-h-screen;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

.label {
  @apply rounded px-2 py-1 text-sm font-medium uppercase;
}

.label-unsolved {
  @apply bg-amber-300;
}

.label-solved {
  @apply bg-green-300;
}
